
   .sections {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 85vh;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .gradientBackgroundTop {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 7vh;
    background: linear-gradient(to bottom, #375beb4a -100%, transparent 100%);
    z-index: 1;
  }

  .gradientBackgroundBottom {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: 7vh;
    background: linear-gradient(to top, #375beb4a -100%, transparent 100%);
    z-index: 1;
  }

  .esfera {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1750px;
    height: 1750px;
    background: radial-gradient(circle at center, #375beb4a 0%, #1a0a4e1c 30%, transparent 100%);
    z-index: -1;
  }

  .rivecomp {


    width: 100%;

    z-index: 2;


  }

  .content {

    text-align: center;
    z-index: 3;
  }

  .title {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    margin: 0;
  }

  .subtitle {
    font-size: 3rem;
    font-weight: 300;
    color: white;
    margin-top: 0.5rem;
  }

  @media (max-width: 900px) {
    .sections {
      cursor: default;
      height: 60vh;
    }

    .title {
      font-size: 2.5rem;
    }

    .subtitle {
      font-size: 1.2rem;
    }
  }

  /* Animación de entrada fade-in y de abajo hacia arriba */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 1;
  animation: fadeInUp 2.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}