.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Animación de entrada fade-in y de abajo hacia arriba */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeInUp {
  opacity: 1;
  animation: fadeInUp 1s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.gradientBackgroundTop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 7vh;
  background: linear-gradient(to bottom, #375beb4a -100%, transparent 100%);
  z-index: 1;
}

.gradientBackgroundBottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  background: linear-gradient(to top, #375beb4a -100%, transparent 100%);
  z-index: 1;
}

.centeredText {
  text-align: center;
  margin: 70px;
  z-index: 2; /* Asegura que el texto esté por encima del fondo degradado */
}

.largeText {
  font-size: 5em; /* Aumenta el tamaño de las letras del h1 */
}

.whiteText {
  color: white;
}

.boldText {
  font-weight: bold;
}

.gradientText {
  font-size: 4em; 
  background: linear-gradient(to right, #B43BFF, #55D9FF);
  -webkit-background-clip: text;
  background-clip: text;

  color: transparent;
}

.rivecomp {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.web {
  display: block;
}

.movil {
  display: none;
}

@media (max-width: 900px) {
  .sections {
    cursor: default;
  }
  .largeText {
    font-size: 3em; /* Tamaño más pequeño para pantallas medianas */
  }
  .gradientText {
    font-size: 2.5em; /* Tamaño más pequeño para pantallas medianas */
  }
  .web {
    display: none;
  }
  .movil {
    display: block;
  }
}

@media (max-width: 600px) {
  .largeText {
    font-size: 2em; /* Tamaño más pequeño para pantallas pequeñas */
  }
  .gradientText {
    font-size: 1.5em; /* Tamaño más pequeño para pantallas pequeñas */
  }
}