---
import RiveComponent from "../../global/animations/riveComponent";


---


    <section id="experience" >
      <div class="esfera"/>
      <div class="gradient-background-top"></div>
      <div class="gradient-background-bottom"></div>
      <div class="rivecomp web">
        <RiveComponent
          src="/rive/cbluna.riv"
          artboard="seccion3"
          stateMachines="State Machine 1"
          autoplay={true}
          fit="fill"
          client:only="react" 
          transition:persist
        />
      </div>

      <div class="rivecomp movil">
        <RiveComponent 
        src="/rive/cbluna.riv"
        artboard="seccion3_mobile"
        stateMachines="State Machine 1"
        autoplay={true}
        fit="contain"
        client:only="react"
        transition:persist

        />

        </div>
        <!-- tablet -->
        <div class="rivecomp tablet">
        <RiveComponent
          src="/rive/cbluna.riv"
          artboard="seccion3_tablet"
          stateMachines="State Machine 1"
          autoplay={true}
          fit="contain"
          client:only="react" 
          transition:persist
        />
      </div>

     

    </section>



    <style>

      section {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 90vh;
      overflow: hidden;
      }
      .gradient-background-top {
      position: absolute;
      top: 0;
      width: 100vw;
      height: 7vh;
      background: linear-gradient(to bottom, #375beb4a -100%, transparent 100%);
      z-index: 1;
      }

    .gradient-background-bottom {
      position: absolute;
      bottom: 0;
      width: 100vw;
      height: 7vh;
      background: linear-gradient(to top, #375beb4a -100%, transparent 100%);
      z-index: 1;
      }

      .rivecomp {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      
      z-index: 2;
      }
      
      
      .esfera {
    position: absolute;
    top: 20%;
      left: 50%; /* Mueve la esfera a la derecha */
    transform: translate(-50%, -50%);
    
    width: 1750px;
    height: 1750px;
    /* gradiente de color 375BEB a transparente radial centrado */
    background: radial-gradient(circle at center, #375beb4a 0%, #1a0a4e1c 30%, transparent 100%);
    z-index: -1;
  }

      
    
      
      .web {
      display: block;
      }
      
      .movil {
      display: none;
      }

      .tablet {
      display: none;
      }

      @media (max-width: 1368px) {
      section {
        cursor: default;
        height: 80vh;
      }

      .web {
        display: none;
      }
      .movil {
        display: none;
      }
      .tablet {
        display: block;
      }
      }
      
      @media (max-width: 768px) {
      section {
        cursor: default;
        height: 250vh;
      }

      .web {
        display: none;
      }
      .movil {
        display: block;
      }
      .tablet {
        display: none;
      }
      }
      
      </style>
      
      