.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 65vh;
  overflow: hidden;
  }
  .gradientBackgroundTop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 7vh;
  background: linear-gradient(to bottom, #375beb4a -100%, transparent 100%);
  z-index: 1;
  }

.gradientBackgroundBottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  background: linear-gradient(to top, #375beb4a -100%, transparent 100%);
  z-index: 1;
  }
  .rivecomp {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 5vh;
  margin-bottom: 5vh;
  z-index: 2;
  }
  
  .boton {
position: absolute;
top: 50%;
left: 80%;
transform: translate(-50%, -50%);
z-index: 2;
}
.esfera {
position: absolute;
top: 50%;
left: 82%; /* Mueve la esfera a la derecha */
transform: translate(-50%, -50%);

width: 1000px;
height: 1000px;
/* gradiente de color 375BEB a transparente radial centrado */
background: radial-gradient(circle at center, #375beb4a 10%, #141414 30%, transparent 100%);
z-index: -1;
}

.web {
display: block;

}

.movil {
display: none;

}

@media (max-width: 900px) {
section {
cursor: default;
height: 1080px;
}
.esfera {
position: absolute;
top: 85%;
left: 50%; /* Mueve la esfera a la derecha */
transform: translate(-50%, -50%);

width: 650px;
height: 650px;
/* gradiente de color 375BEB a transparente radial centrado */
background: radial-gradient(circle at center, #375beb4a 10%, #141414 30%, transparent 100%);
z-index: -1;
}
.web {
display: none;
}
.movil {
display: block;
}
}