
.sections {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;


  
  }
  .gradientBackgroundTop {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 7vh;
  background: linear-gradient(to bottom, #375beb4a -100%, transparent 100%);
  z-index: 1;
  }

.gradientBackgroundBottom {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 7vh;
  background: linear-gradient(to top, #375beb4a -100%, transparent 100%);
  z-index: 1;
  }
  .rivecomp {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  
  z-index: 2;
  }
  .boton {
position: absolute;
top: 77%;
left: 67%;
transform: translate(-50%, -50%);
z-index: 2;
}
  
  

  
  .web {
  display: block;
  width: 100%;
  height: 100%;
  }
  
  .movil {
  display: none;
  }
  
  @media (max-width: 900px) {
    .sections {
    cursor: default;
    height: 215vh;
  }
  .web {
    display: none;
    height: 100%;
    width: 100%;
  }
  .movil {
    display: block;
  }
  }
  